@font-face {
  font-family: GoogleSans;
  src: url("chrome-extension://__MSG_@@extension_id__/assets/fonts/ProductSans-Regular.ttf");
}

* {
  font-family: GoogleSans !important;
}

:root {
  --aquamarine-primary: #a1e9d3;
  --dark-background: #121212;
  --dark-1: #1a1a1a;
  --dark-2: #212121;
  --dark-3: #303030;
  --aquamarine-shadow: 0px 0px 5px 0 rgb(161, 233, 211);
  --aquamarine-shadow-2: 0px 0px 5px 0 rgb(161 233 211 / 100%);
  --dark-1-shadow: 0px 0px 10px 0 rgb(33 33 33);
  --text-white-outline: -0.2px -0.2px 1.5px rgb(231, 233, 234),
    0.2px -0.2px 1.5px rgb(231, 233, 234), -0.2px 0.2px 1.5px rgb(231, 233, 234),
    0.2px 0.2px 1.5px rgb(231, 233, 234);
}

.Calendar_button_holder {
  width: 100%;
  padding: 4px 0px;
  cursor: pointer;
}

.Calendar_button {
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  border-radius: 100vh;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  transition: background-color 0.2s;
  padding: 0px 0px 0px 12px;
}

.Calendar_button_holder:hover .Calendar_button {
  background-color: rgba(231, 233, 234, 0.1);
}

.Calendar_button_holder a {
  font-weight: normal;
  transition: font-weight 0.2s;
  text-shadow: none;
  transition: text-shadow 0.2;
}

.Calendar_button_holder:hover .Calendar_button * {
  font-weight: bold;
}

.Calendar_button a {
  color: rgb(231, 233, 234);
  font-size: 20px;
  font-family: GoogleSans;
  margin-right: 16px;
  margin-left: 20px;
}

.Calendar_button .closest_date {
  color: rgb(231, 233, 234);
  background-color: rgba(231, 233, 234, 0.1);
  border-radius: 100vh;
  font-size: 20px;
  font-family: GoogleSans;
  margin-right: 0px;
  margin-left: 0px;
  padding: 7px 12px 7px 12px;
  margin: 0px 5.25px 0px 0px;
}

.Calendar_button img {
  height: 1.75rem;
  filter: invert(100%);
  padding: 0px;
  margin: 0px;
  padding: 12px 0px;
}

.Birthday_button {
  display: flexbox;
  height: fit-content;
  width: fit-content;
  border-radius: 100vh;
  background-color: rgba(231, 233, 234, 0.1);
  text-decoration: none;
  text-align: center;
  justify-content: center;
  box-shadow: transparent;
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;
  padding: 2px 7px 2px 3px;
  margin: 2px;
  cursor: pointer;
}

.Birthday_button * {
  margin: 0px !important;
}

.Birthday_button:hover {
  box-shadow: var(--aquamarine-shadow);
}

.Birthday_button:active {
  box-shadow: 0px 0px 1000px 0 rgb(161 233 211 / 100%);
  background-color: rgba(231, 233, 234, 0.2);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page_div {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.suggestions_div {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.list_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.list_wrap ul {
  display: flexbox;
  align-items: center;
  padding: 0px;
  margin: 10px;
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.user > div {
  display: flex;
  width: 100%;
  text-decoration: none;
  margin: 0px 0px 10px;
}

.user > div > div > a:first-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(231, 233, 234, 0.1);
  border-radius: 32px;
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.list:hover {
  box-shadow: var(--aquamarine-shadow);
  background-color: rgba(231, 233, 234, 0.2);
}

.icon {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 50px;
  margin: 7px;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.n_id_div {
  display: flexbox;
  text-align: center;
  width: 100%;
}

.list_item_id {
  display: flexbox;
  align-items: center;
  color: rgb(113, 118, 123);
  font-size: 16px;
  font-family: GoogleSans;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 7px 0px 7px 0px;
  font-weight: lighter;
}

.list_item_name {
  display: flexbox;
  align-items: center;
  color: rgb(231, 233, 234);
  font-size: 20px;
  font-family: GoogleSans;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 7px 0px 7px 0px;
}

.list_item_bd {
  display: flexbox;
  align-items: center;
  color: rgb(231, 233, 234);
  font-size: 20px;
  font-family: GoogleSans;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 7px;
}

.more_button_holder {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-self: center;
  align-items: center;
  border-radius: 100vh;
  background-color: rgba(231, 233, 234, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
}

.more_button_holder:hover {
  box-shadow: var(--aquamarine-shadow);
  background-color: rgba(231, 233, 234, 0.2);
}

.more_button_holder .options_button {
  visibility: collapse;
  opacity: 0;
  max-height: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
}

.more_button_holder .options_button.is_open {
  visibility: visible;
  opacity: 1;
  max-height: 300px;
  padding: 12px;
}

.calendar_icons_button {
  display: flex;
  height: fit-content;
  width: fit-content;
  border-radius: 100vh;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  transition: background-color 0.2s;
  padding: 12px;
}

.calendar_icons_button:hover {
  background-color: rgba(231, 233, 234, 0.1);
}

.calendar_icons_svg {
  height: 1.75rem;
  padding: 0px;
  margin: 0px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.edit_field {
  display: flex;
  flex-direction: row;
}

.edit_field div {
  display: flex;
  white-space: nowrap;
  align-self: center;
  min-width: 100px;
  color: rgb(231, 233, 234);
  cursor: default;
}

.edit_field input {
  display: flex;
  border: none;
  color: black;
  background-color: white;
  width: 100%;
  border-radius: 100vh;
  outline: none;
  padding: 2px 10px;
  margin: 5px 0px 5px 0px;
}

.edit_fields {
  display: flex;
  margin: 10px 7px 10px 32px;
  flex-direction: column;
  width: 100%;
}

.editing_menu {
  display: flex;
  visibility: collapse;
  align-self: collapse;
  width: 100%;
  background-color: transparent;
  max-height: 0;
  opacity: 0;
  transform-origin: bottom;
  transition: 0.5s ease-in-out;
}

.editing_menu.is_open {
  visibility: visible;
  max-height: 700px;
  opacity: 1;
}

.edit_div {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-self: center;
  width: 100%;
  background-color: trnsparent;
  border-radius: 32px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.edit_div.is_open {
  background-color: rgba(231, 233, 234, 0.1);
}

.save_changes {
  height: fit-content;
  align-self: center;
  border-radius: 100vh;
  background-color: rgba(231, 233, 234, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  margin: 0px 10px 0px 7px;
}

.save_changes:hover {
  box-shadow: var(--aquamarine-shadow);
  background-color: rgba(231, 233, 234, 0.2);
}

.save_changes img {
  display: flex;
  border-radius: 100vh;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  transition: background-color 0.2s;
  padding: 12px;
}

.custom_button {
  white-space: nowrap;
}

.dates_div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border: 2px solid rgba(231, 233, 234, 0.3);
  border-radius: 32px;
  transition: background-color 0.2s, box-shadow 0.2s ease-in-out;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 20px 0px;
}

.dates_div div {
  display: flex;
  align-self: center;
  color: rgb(231, 233, 234);
  font-size: 20px;
  font-family: GoogleSans;
  text-align: center;
  height: 100%;
  margin: 0px 12px;
  cursor: default;
}

.dates_div img {
  display: flex;
  align-self: center;
  height: 1.75rem;
  filter: invert(100%);
}

.utilities {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 150px;
  background-color: transparent;
  border-radius: 32px;
  margin: 20px 10px 0px 0px;
  transition: 0.5s ease-out;
}

.utilities.is_open {
  background-color: rgba(231, 233, 234, 0.1);
  max-width: 700px;
}

.util_tab {
  display: flex;
  align-self: center;
  width: fit-content;
  max-width: 100%;
  background-color: rgba(231, 233, 234, 0.1);
  border-radius: 32px;
  transition: 0.2s ease-in-out;
}

.util_tab .icon_holder {
  display: flex;
  height: fit-content;
  width: fit-content;
  border-radius: 100vh;
  box-shadow: none;
  background-color: rgba(231, 233, 234, 0.1);
  justify-content: center;
  transition: 0.2s ease-in-out;
  padding: 12px;
  margin: 5px;
  cursor: pointer;
}

.util_tab .icon_holder:hover {
  box-shadow: var(--aquamarine-shadow);
  background-color: rgba(231, 233, 234, 0.2);
}

.utilities img {
  height: 30px;
  filter: invert(100%);
}

.name_of_utility_holder {
  display: flex;
  visibility: collapse;
  justify-self: center;
  align-self: center;
  width: 100%;
}

.name_of_utility_holder .utility_name {
  display: flex;
  visibility: collapse;
  color: rgb(231, 233, 234);
  font-size: 20px;
  font-family: GoogleSans;
  justify-self: center;
  align-self: center;
  white-space: nowrap;
  width: 100%;
  max-width: 0px;
  opacity: 0;
  margin: 0px;
  transform-origin: bottom;
  cursor: default;
  transition: max-width 0.5s ease-in-out, visibility 0.2s ease-out,
    opacity 0.2s ease-in-out, margin 0.5s ease-in-out;
}

.name_of_utility_holder .utility_name.is_open {
  visibility: visible;
  max-width: 300px;
  width: inherit;
  opacity: 1;
  margin: 5px 20px 5px 5px;
  transition: max-width 0.5s ease-in-out, visibility 1s ease-in-out,
    opacity 1s ease-in-out, margin 0.5s ease-in-out;
}

.birthday_event_creating_menu {
  display: flex;
  visibility: collapse;
  align-self: center;
  width: 100%;
  background-color: transparent;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, max-width 0.5s ease-in-out,
    visibility 0.2s ease-out, opacity 0.2s ease-in-out, margin 0.5s ease-in-out;
}

.birthday_event_creating_menu.is_open {
  visibility: visible;
  max-width: 900px;
  max-height: 700px;
  opacity: 1;
  transition: max-height 0.5s ease-in-out, max-width 0.5s ease-in-out,
    visibility 1s ease-in-out, opacity 1s ease-in-out, margin 0.5s ease-in-out;
}

.edit_field input.error {
  border: 2px solid rgb(255, 77, 77);
  box-shadow: 0px 0px 5px 0 rgb(255, 130, 130);
  background-color: rgb(255, 199, 199);
}

.event_settings {
  display: flex;
  visibility: collapse;
  flex-direction: column;
  align-self: center;
  width: 100%;
  background-color: transparent;
  max-height: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
  margin: 0px;
}

.event_settings.is_open {
  visibility: visible;
  max-height: 700px;
  opacity: 1;
  margin: 10px 0px 10px 0px;
}

.event_settings div {
  margin: 0px 32px;
}

.event_settings * {
  color: rgb(231, 233, 234);
}

.event_settings input {
  display: flex;
  border: none;
  color: black;
  background-color: white;
  text-align: center;
  width: 40px;
  border-radius: 100vh;
  outline: none;
  padding: 2px 10px;
  margin: 5px 0px 5px 0px;
}

.event_settings .toggle_container {
  display: inline-flex;
  margin: 10px 10px 10px 0px;
}

.toggle_container input {
  margin: 0px 0px 0px 5px;
  accent-color: rgb(8, 160, 233);
}

@media only screen and (max-width: 1300px) {
  .Calendar_button a {
    display: none;
  }
  .Calendar_button img {
    padding: 12px;
  }

  .Calendar_button {
    padding: 0px;
  }
}
